name: checks

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUST_BACKTRACE: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - 1.60.0 # MSRV
    steps:
      - uses: actions/checkout@v3
      - name: rust toolchain (${{ matrix.rust }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      # Note: On Rust < 1.68 we don't have the sparse index yet.
      # And before Rust 1.70 it was not the default. Meaning this fetch can be slow.
      # Split it into it's own command so it's easy to see when runs are slow because of fetch specifically.
      - run: cargo fetch
      - run: cargo test

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-targets --all-features -- -D warnings

  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@v2
      # - run: cargo install cargo-readme
      # - name: check readme is up-to-date
      #   run: |
      #     cargo readme > README.md
      #     git diff --exit-code
      - run: cargo install cargo-doc2readme
      - name: check readme is up-to-date
        run: cargo doc2readme --template README.tpl --expand-macros --check

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all -- --check
